/* line 8, ../../app/assets/stylesheets/leads.css.scss */
.leads .side-copy h4 {
  color: #46166b;
}
/* line 12, ../../app/assets/stylesheets/leads.css.scss */
.leads .side-copy .subheading {
  color: #9E1F63;
  text-transform: uppercase;
}
/* line 17, ../../app/assets/stylesheets/leads.css.scss */
.leads .main_form {
  margin: 0 auto;
}
/* line 20, ../../app/assets/stylesheets/leads.css.scss */
.leads .main_form h3, .leads .main_form h4 {
  color: #46166b;
  text-transform: capitalize;
}
/* line 24, ../../app/assets/stylesheets/leads.css.scss */
.leads .main_form textarea {
  height: 7.313em;
}
/* line 28, ../../app/assets/stylesheets/leads.css.scss */
.leads .main_form label {
  color: #AAAAAA;
  text-align: left;
}
/* line 37, ../../app/assets/stylesheets/leads.css.scss */
.leads .field {
  text-align: center;
}
/* line 42, ../../app/assets/stylesheets/leads.css.scss */
.leads .field .label {
  background-color: red;
}
/* line 46, ../../app/assets/stylesheets/leads.css.scss */
.leads label.error {
  display: none !important;
}
/* line 50, ../../app/assets/stylesheets/leads.css.scss */
.leads select.error {
  border-color: #ff0000;
  color: #ff0000;
}
/* line 56, ../../app/assets/stylesheets/leads.css.scss */
.leads .captcha p.eL-explanation {
  font-size: 14px;
  margin-bottom: 0px;
}
/* line 61, ../../app/assets/stylesheets/leads.css.scss */
.leads .captcha .eL-captcha {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  width: 100% !important;
}
/* line 67, ../../app/assets/stylesheets/leads.css.scss */
.leads .captcha div.eL-captcha > div.eL-possibilities.type-0 {
  margin-left: 15%;
  display: block;
}
/* line 72, ../../app/assets/stylesheets/leads.css.scss */
.leads .captcha .notice {
  font-size: 14px;
  color: #ff0000;
  margin-bottom: 10px;
}

/* line 80, ../../app/assets/stylesheets/leads.css.scss */
.btn-switch-slides {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #75D1D1;
  color: white;
  padding: 10px 20px 10px 20px;
}

/* line 88, ../../app/assets/stylesheets/leads.css.scss */
.register-link {
  background-color: #75D1D1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 133px;
  margin: 0 0 0 -50PX;
  border: 2px solid white;
}

/* line 99, ../../app/assets/stylesheets/leads.css.scss */
.register-link a {
  text-align: center;
  color: white;
  position: relative;
  width: 100px;
  height: 100px;
  font-weight: 900;
  display: block;
  clear: both;
  padding-top: 35PX;
  font-size: 17px;
}

/* line 112, ../../app/assets/stylesheets/leads.css.scss */
.rope {
  width: 1px;
  height: 120px;
  position: absolute;
  left: 50%;
  border-left: 2px solid gray;
  top: 25px;
}

/* line 120, ../../app/assets/stylesheets/leads.css.scss */
.magenta-bold {
  color: #AA3C76;
  font-weight: bold;
  margin-top: 0;
}

/* line 126, ../../app/assets/stylesheets/leads.css.scss */
.red-bold {
  color: red;
  font-weight: bold;
  margin-top: 0;
}

/* line 132, ../../app/assets/stylesheets/leads.css.scss */
.bluish {
  color: #512582;
}

/* line 136, ../../app/assets/stylesheets/leads.css.scss */
#register {
  margin-top: 1rem;
  margin-bottom: -4rem;
}

/* line 141, ../../app/assets/stylesheets/leads.css.scss */
body {
  font-size: 13px;
}

/* line 145, ../../app/assets/stylesheets/leads.css.scss */
.terms {
  border-bottom: 1px solid #dedede;
}

/* line 149, ../../app/assets/stylesheets/leads.css.scss */
label.terms-agreement {
  color: black !important;
  margin-left: 45px;
}

/* line 154, ../../app/assets/stylesheets/leads.css.scss */
.xtra-p-style.further-info {
  font-weight: bold;
  font-style: italic;
}

/* line 159, ../../app/assets/stylesheets/leads.css.scss */
h4.red-text {
  color: red !important;
}

/* line 163, ../../app/assets/stylesheets/leads.css.scss */
a.contact-link {
  color: #008cba !important;
  font-weight: bold;
}

/* line 168, ../../app/assets/stylesheets/leads.css.scss */
span.accept-text {
  padding-left: 10px;
}

/* line 172, ../../app/assets/stylesheets/leads.css.scss */
input#save-button {
  height: 42px;
  width: 124px;
  margin-top: 17px;
  padding: 10px 20px 10px 20px;
  font: bold 20px Arial;
}
