.row
  .twelve.columns.ad
    .row
      .panel
        %h3 ADVERTISEMENT
.row
  .nine.columns
    .row.header
      .ten.columns
        %h5 Most Popular Products
      .two.columns
        %h5
          %a{:href=> "#"} See More +
    .row
      .twelve.columns
        - @popular_products.each do |product|
          = render :partial => "layouts/product", :locals => { :product => product }
    .row
      %br
    .row.header
      .ten.columns
        %h5 Most Popular Shops
      .two.columns
        %h5
          %a{:href=> "#"} See More +
    .row
      %br
    .row.header
      .ten.columns
        %h5 Most Popular Events
      .two.columns
        %h5
          %a{:href=> "#"} See More +

  = render "layouts/sidebar"
