.row
  .twelve.columns.ad
    .row{"data-mercury" => "full"}
      .panel
        %h3 ADVERTISEMENT
.row
  .nine.columns
    .row.header
      .ten.columns
        %h5 Products
      .two.columns
        %h5
          %a{:href=> "#"} See More +
    .row
      .twelve.columns
        - @matching_products.each_with_index do |product, i|
          = render :partial => "layouts/product", :locals => { :product => product, :last => i== @matching_products.length - 1 }
    .row
      %br
    .row.header
      .ten.columns
        %h5 Shops
      .two.columns
        %h5
          %a{:href=> "#"} See More +
    .row
      .twelve.columns
        - @matching_shops.each_with_index do |product, i|
          = render :partial => "layouts/product", :locals => { :product => product, :last => i== @matching_shops.length - 1 }
    .row
      %br
    .row.header
      .ten.columns
        %h5 Events
      .two.columns
        %h5
          %a{:href=> "#"} See More +
    .row
      .twelve.columns
        - @matching_events.each_with_index do |product, i|
          = render :partial => "layouts/product", :locals => { :product => product, :last => i== @matching_events.length - 1 }

  = render "layouts/sidebar"
