.row
	.large-12.columns
		%br
		%br
		%h2 TOTO & MAMA ONLINE DIRECTORY RELEASE, WAIVER AND INDEMNITY AGREEMENT
		%br
		%h4 Disclaimer

		This website is intended as an information directory. The listings and 

		information contained in the website are intended for general use. No 

		warranty is provided that the information is accurate or correct. The 

		Toto & Mama Online Directory assumes no responsibility, whether 

		implied by law or otherwise, for the information provided and disclaims 

		all liability with respect to such information. The existence of listings, 

		reviews and any advertising on this website does not constitute a 

		guarantee or endorsement of the quality, value or suitability of the 

		products or services so listed or advertised.

		%br
		%br
		%h3 Terms & Conditions

		%h4 1. Acceptance of Terms and Conditions

		These terms and conditions govern your use of Toto & Mama, including 

		use of message boards and notice boards. We may amend or add to 

		these terms and conditions without notice to you, so please check them 

		periodically.
		%br
		%br

		%h4 2. Registration

		When you register with us you are stating that you are over 18 years of 

		age or are a minor, aged over 13, with parental consent to use the service 

		you are registering for. You agree that any information you provide to 

		us about yourself upon registration or at any other time will be true, 

		accurate and complete.

		You must keep the password that you use to access Toto & Mama 

		confidential and must not disclose it to or share it with anyone. You will 

		be responsible for all activities that occur under your password.

		%br
		%br
		%h4 3. Privacy

		We ask for your email address when you register and you will get 

		an email from Toto & Mama Directory to confirm your registration. 

		After that, we may from time to time send one-off offers; promotions 

		and newsletters that we feel you may be interested in. We will not 

		pass on your personal information to third parties. We recognize the 

		requirement to keep that personal information confidential. Should you 

		ever wish to be removed from our database, simply contact us and we 

		will be happy to fulfill your request.

		%br
		%br
		%h4 4. Toto & Mama Newsletters
		By registering you will agree to receive a Toto & Mama newsletter by 

		email once a month. If you do not wish to receive these newsletters you 

		may unsubscribe from the mailing list when you receive the first email.

		%br 
		%br
		%h4 5. Use of Forum / Message board

		If you use a message board or noticeboard, you alone are responsible for 

		the content of your messages, and any consequences arising. By using 

		Toto & Mama you agree to comply with the following:
		%br

		(a) Toto & Mama is to be used by you for your personal use only and may 

		not be used for commercial purposes (to promote a company, product or 

		service or to recruit staff) without prior written permission.
		%br

		(b) Toto & Mama may not be used to send chain letters, junk mail, ‘spam’, 

		solicitations (commercial or non-commercial) or bulk communications 

		of any kind. If a member puts an email address or web address into a 

		message, you may not use it for any purpose other than that which the 

		Member intended.
		%br

		(c) If using the Boards to arrange to meet someone, you do so at your own 

		risk, and Toto & Mama accepts no liability for any consequences.
		%br

		(d) If using the Boards to find child care or nanny services, it is your 

		responsibility to check registrations, qualifications and references. 

		Mama & Toto is in no way liable for any consequences and accepts no 

		responsibility for the verification of any childcare notices.
		%br

		(e) You may not post to totomama.co.ke or use totomama.co.ke to 

		publish, send or distribute any message or material (in any media or 

		form) that is unlawful, harassing, defamatory, abusive, threatening, 

		harmful, vulgar, obscene, profane, threatening, racially or sexually 

		or otherwise discriminatory, offensive, inaccurate, is in breach of 

		confidence or a third party’s intellectual property rights or which 

		otherwise includes objectionable material of any kind or nature, that 

		encourages or engages in conduct that could constitute a criminal 

		offence, give rise to civil liability or otherwise violate any applicable 

		national or international law or regulation or which has a disruptive 

		influence on totomama.co.ke.
		%br

		(f) You (whether acting in your capacity as a journalist in any media or 

		otherwise) must not post appeals for case histories on totomama.co.ke. 

		Unauthorised appeals for information will be removed.
		%br

		(g) You must not impersonate any other person or entity, whether actual 

		or fictitious.
		%br

		(h) You must not use totomama.co.ke in a way that might reasonably be 

		expected to cause the website to be interrupted, damaged, rendered less 

		efficient or which could in any way damage the operation of another’s 

		computer.

		%br
		%br

		totomama.co.ke reserves the right in its absolute discretion at any time 

		to edit, alter, delete or move any material posted to, appearing on or 

		distributed by totomama.co.ke and you. Toto & Mama will not enter 

		into any discussions about its decision to edit, alter, delete or move such 

		material.
		%br

		(a) Toto & Mama may at any time, and without prior or post warning, 

		close discussions on message boards as it feels appropriate. No discussion 

		will be entered into.
		%br

		b) Toto & Mama may withdraw membership of totomama.co.ke from any 

		member at any time. Attempts to rejoin, may result in legal action. Toto 

		& Mama decision is final and no discussion will be entered into.

		Rude words or advertising in any shape or form is not allowed on the 

		forum. Please check the advertising page for promotional opportunities. 

		Any unauthorised posts which advertise or promote anything including 

		personal or commercial websites, products or services will be deleted.

		This is a public forum and any information you post can be accessed 

		by anyone from the general public or by internet search engines. This 

		includes any personal details, including your date of birth, children’s 

		name and hometown. Likewise if you add pictures, this is all information 

		which will show up when our forum is searched so be careful when 

		mentioning details which, when linked together could lead to people 

		identifying you.

		%br
		%br
		%h4 6. Submission of Listings, Reviews & Comments

		By adding a listing or comment to the site, you agree to comply with the 

		following terms:
		%br

		(a) Toto & Mama reserves the right in its absolute discretion at any time 

		to edit, alter, delete or move any material, such as reviews or comments 

		added by totomama.co.ke and you. Toto & Mama will not enter into any 

		discussions about its decision to edit, alter, delete or move such material.
		%br

		(b) Toto & Mama reserves the right to share material, such as the content 

		of reviews and comments with other organisations who may also publish 

		the material.
		%br

		(c) Toto & Mama reserves the right to email you from time to time if you 

		have indicated that you are the owner of the business, group or event.

		%br
		%br

		%h4 Business Listings

		You may use Toto & Mama to add, amend and/or update a Business
		Listing (User content), solely on the terms and conditions of this
		Agreement.
		%br

		1.1 All User Content must:
		%br

		(a) be complete, factual and accurate;
		%br

		(b) be supplied in the manner and format specified;
		%br

		(c) not be of a nature likely to bring Toto & Mama into disrepute; and
		%br

		(d) comply with all laws, regulations, standards and relevant industry 

		codes.
		%br

		We assume no responsibility for the accuracy of information provided on 

		Toto & Mama Online Directory.
		%br

		1.2 You must not:
		%br

		(a) use Toto & Mama to add or amend a Business Listing where You do not 

		have the express authorization of that business to do so;
		%br

		(b) upload, post, transmit, publish or otherwise make available any 

		Accessible Content that You do not have a right to make available under 

		any law, regulation, rule or code or under contractual or other legal 

		relationships;
		%br

		(c) upload, post, transmit, publish or otherwise make available any 

		false, misleading, inappropriate, libelous, profane, defamatory, abusive, 

		threatening, obscene, pornographic, indecent or unlawful Accessible 

		Content;
		%br

		(d) Infringe the intellectual property rights of others; or
		%br

		(e) Breach a law including, without limitation, any law that restricts 

		advertising of a profession;
		%br

		(f) submit any User Content protected by copyright, trademark, patent, 

		trade secret, moral right, or other intellectual property, personal, 

		contractual, proprietary or other right owned by a third party without 

		the express permission of the owner of the respective right. You are 

		solely liable for any damage resulting from your failure to obtain such 

		permission or from any other harm resulting from User Content that you 

		submit.
		%br

		1.3 If any of the information in the Business Listing for Your business 

		changes, becomes out of date, or no longer complies with this Agreement, 

		You must:
		%br

		(a) Immediately amend Your Business Listing so that it complies with this 

		Agreement; and/or
		%br

		(b) Immediately notify Toto & Mama.
		%br

		1.4 The Toto & Mama Online Directory has the right to edit, alter, delete, 

		move or share any material, such as listings or comments (User Content). 

		By submitting User Content to us, you automatically grant to us:
		%br

		(a) a worldwide, fully-paid, royalty-free, non-exclusive, fully sub 

		licensable, and transferable right and license to use, reproduce and 

		distribute the User Content (in whole or in part) as Toto & Mama, in 

		its sole discretion, deems appropriate. We may exercise this grant in any 

		format, media or technology now known or later developed for the full 

		term of any copyright that may exist in such User Content.
		%br

		(b) Subject to the rights and license under these Terms of Use, you retain 

		all your right, title and interest in your User Content submissions. This 

		means that copyright in your User Content will remain with you and 

		that you can continue to use the material in any way, including allowing 

		others to use it.
		%br

		1.5 You acknowledge and agree that by posting User Content onto Toto 

		& Mama, if you have indicated that you are the owner of the business, 

		group or event, You consent to being contacted (on an ongoing basis) 

		via any of the contact details contained in that User Content, including 

		(without limitation) where such contact involves receiving information 

		about products or services which we think may interest You from Toto & 

		Mama or any authorized third party.
		%br

		1.6 We reserve the right to display advertisements in connection with 

		your User Content and to use your User Content for advertising and 

		promotional purposes.
		%br	
		%br	 

		%h4 7. Advert booking conditions
		%br

		Although Toto & Mama is a free service, our advertising slots incur a 

		charge. Prices and terms of paid advertising are clearly disclosed prior to 

		booking your advert. Please take care when booking your adverts as they 

		are non refundable.
		%br

		All adverts are paid for at time of booking. Prices may change from time 

		to time and we may not give notice.
		%br

		Toto & Mama reserves the right to cancel any ad bookings that it feels 

		are not appropriate for the site or are in conflict with any services the 

		site offers. No refund will be given for adverts that contravene our terms 

		and conditions.
		%br
		%br

		%h4 8. Intellectual Property
		%br

		All copyright, trademarks (registered or unregistered) and other 

		intellectual property rights of whatsoever nature arising from all 

		materials, content and information on this site, including the site’s 

		design, layout and organization, are owned or licensed by Toto & Mama 

		Enterprises.
		%br

		Except where stated, none of the material may be copied, reproduced, 

		distributed, republished, downloaded, displayed, posted, or transmitted 

		in any form by any means, including but not limited to, electronic, 

		mechanical, photocopying, recording or otherwise without the prior 

		written permission of Toto & Mama Enterprises.
		%br
		%br
		%br

		Permission is granted to access, download, or print such material for 

		your personal, non-commercial use only and is subject to these terms and 

		conditions.
		%br
		%br
		%br

		By submitting content to Toto & Mama, including your first name, you 

		grant Toto & Mama Enterprises a right to use, reproduce, modify, and 

		publish it in other works. You also permit any member to access, display, 

		view, and store and reproduce such content for personal use.
		%br
		%br

		%h4 9. Third Party Web Sites, Goods and Services
		%br

		Toto & Mama provides links to third party web sites. We make no 

		representations as to the quality, suitability, functionality or legality 

		of any sites to which we may provide links, or any goods or services 

		available from such sites.
		%br

		All matters concerning any goods and services that you purchase from 

		a third party site, including without limitation all contract terms are 

		solely between you and the owner of that site and Toto & Mama will 

		not be liable for any costs or damages to you or any third party arising 

		directly or indirectly out of any third party website. You hereby waive 

		any claim you might have against Toto & Mama Enterprises with respect 

		to any such sites.
		%br
		%br

		%h4 10. Disclaimer of Warranties
		%br

		Toto & Mama Enterprises is providing this site on an ‘as is’ basis and 

		makes no representations or warranties of any kind with respect to 

		this site or its contents and disclaims all such representations and 

		warranties.
		%br

		The content on the site and forum has been included in good faith. The 

		Content may contain inaccuracies or typographical errors. Whilst 

		Toto & Mama endeavours to ensure that the information on this site is 

		correct, no warranty, express or implied, is given as to its accuracy and 

		Toto & Mama does not accept any liability for error or omission.

		In particular, the support and information in the forum and site does 

		not constitute any form of advice, recommendation or arrangement by 

		Toto & Mama and is not intended to be relied upon by users in making 

		(or refraining from making) any specific decisions or to be a substitute 

		for obtaining professional advice. You should consult a doctor, health or 

		appropriate professional if you require specific advice.
		%br

		You are responsible for checking the accuracy of relevant facts and 

		opinions given on the site before entering into any commitment or taking 

		any other form of action or inaction based upon them.
		%br

		Toto & Mama does not represent or guarantee the truthfulness, accuracy 

		or reliability of postings submitted by users , moderators and parent 

		supporters on the forum, or endorse any opinions expressed by users, 

		moderators or parent supporters.
		%br

		All conditions, warranties, terms and undertakings express or implied 

		statutory or otherwise in respect of the provision of the Content and the 

		Site are excluded to the fullest extent permitted by law.
		%br
		%br

		%h4 11. Limitation of Liability
		%br

		Neither Toto & Mama nor any of its partners, employees or other 

		representatives will be liable for loss or damage arising out of or in 

		connection with your use of this site or any information contained in it. 

		This is a comprehensive limitation of liability that applies to all damages 

		of any kind, including (without limitation) compensatory, direct, 

		indirect or consequential damages, loss of data, income or profit, loss of 

		or damage to property and claims of third parties.
		%br

		You agree to indemnify and hold Toto & Mama and its partners, 

		employees and agents harmless from any claim or demand made by any 

		third party due to or arising from your use of the Site
		%br
		%br

		%h4 12. Breach of these Terms
		%br

		Toto & Mama Enterprises will be entitled to restrict, suspend or 

		terminate your membership or deny you access to totomama.co.ke 

		or take such other action as Toto & Mama deems appropriate if 

		Toto & Mama Enterprises determines, in its sole discretion, that you 

		are in breach any of the Terms and Conditions or that your use of 

		totomama.co.ke is inappropriate or otherwise unacceptable.
		%br

		The restriction, suspension or termination of our service pursuant to 

		this section will be without prejudice to any rights which Toto & Mama 

		Enterprises may have against you in respect of your breach of these 

		Terms and Conditions.
		%br

		Toto & Mama Enterprises shall be entitled to disclose your user 

		identity and details if required or requested by the courts or other law 

		enforcement authorities and/or agencies or in such other circumstances 

		as Toto & Mama in its sole discretion considers reasonably necessary or 

		appropriate.
		%br
		%br

		%h4 13. Indemnification
		%br

		You agree to indemnify and hold each of Toto & Mama Enterprises, 

		its partners, sponsors, representatives, employees and contractors, 

		harmless from any claim or demand, including reasonable legal 

		fees, made by any third party due to or arising out of your use of 

		totomama.co.ke, the violation of these Terms and Conditions by you, or 

		the infringement by you, or any other subscriber of your account, or of 

		any intellectual property or other right of any other person or entity.
		%br
		%br

		%h4 14. Applicable Law
		%br

		These Terms and Conditions shall be governed by and construed in 

		accordance with the Laws of Kenya.
		%br
		%br

		%h4 15. Miscellaneous

		Any failure or delay by us to enforce strict performance by you of any of 

		the Terms and Conditions or to exercise any right under the Terms and 

		Conditions will not be construed as a waiver to any extent of our rights.
		%br

		These Terms and Conditions and the Privacy Policy constitute the entire 

		understanding between you and us as to your use of totomama.co.ke and 

		supersede all prior agreements and understandings between us and you.
		%br
		%br

		%div
			%span{style: "font-weight:bold;"}
				I HAVE READ, UNDERSTOOD AND VOLUNTARILY SIGN THIS RELEASE, WAIVER AND INDEMNITY AGREEMENT
			and further agree no oral representations and inducements apart from the foregoing have been made.

		%br
		%br

		%div{style: "font-weight:bold;"} I HAVE READ THIS RELEASE AND AGREE TO ALL CONDITIONS CONTAINED THEREIN.