// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  margin-top: 20px;
}
a.logo-box{
  display: block;
  background: url(/assets/logo.jpg) no-repeat left top;
  height: 115px;
}

.mini-top-nav {
  float: right;
}

.social li, .mini-top-nav li {
  float: right;
  margin-left: 14px;
  list-style: none;
}

.social{
  margin: 10px 0px 0px 0px;
}

.social li a{
  width: 35px;
  height: 35px;
  float: right;
  //margin-left: 10px;
  overflow: hidden;
  background: url('/assets/socio-icons.jpg') no-repeat left top;
}

.social .twt{
  background-position:-33px 0px;
}

.social .pin{
  background-position: -66px 0px;
}

.mini-top-nav .divider {
  margin-top: 14px;
}

.search-bar input {
  border: none;
  font-weight: 100;
  font-size: 2em;
  height: 55px;
  border-radius: 18px;
  background:#eee;
  padding-left: 20px;
}

a.logo-box:hover {
  //background: transparent;
  background-color: #ffffff;
}

.copyright {
  padding-top: 10px;
}

ul.product-list {
  margin-left: 0px;
}

.product-list li {
  border-left: 0px;
}

.product-flyout-content {
  background-color: #ffffff;
}

ul.flyout li, .custom li ul li {
  border-left: 0px;
  border-bottom: 1px dashed #808080;
}

ul.flyout li a, .custom li ul li a {
  background-color: #ffffff;
  font-size: 12px;
  padding: 10px 5px;
  border: 0px;
}

ul.flyout li a, .custom li ul li a:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.custom > li a {
  font-size: 13px;
  color: #46166b;
  font-weight: bold;
}

.custom .flyout {
  background: #65c8c6;
  border: none;
  box-shadow: none;
  border-radius: 0px 5px 5px 5px;
  left: 0;
  padding: 5px;
}

.custom > li:hover {
  background: none repeat scroll 0 0 #65c8c6;
  border-radius: 5px 5px 0px 0px;
}

.custom > li a:hover {
  color: #ffffff;
}

.custom > li > a:first-child {
  font-size: 13px;
}

.custom > li:last-child {
  border: none;
}

.dropdown {
  background: #ffffff;
}

.nav-bar{
  height: 40px;
  background: #fff;
  border: none;
}

.nav-bar li{
  height: 40px;
  border: none;
}

li.top {
  border-right: 1px dashed gray;
  margin: 0 2px;
}

.nav-bar > li > a:first-child {
  padding: 0 5px;
  width: 116px;
  line-height: 20px;
  text-align: center;
}

.nav-bar > li.has-flyout > a:first-child::after {
  content: normal;
}

.nav-bar > li.has-flyout > a:first-child {
  padding-right: 15px;
}

.nav-bar > li.has-flyout > a:first-child::after {
  right: 5px;
}

.menu-flyout{
  min-width: 450px;
}

.menu-flyout .ad-panel{
  margin-top: 20px;
}

.header {
  background-color: #46166b;
  border-radius: 5px;
}

.header h5, a {
  color: #ffffff;
}

.summary {
  margin: 20px 0px;
}

.summary a {
  color: #46166b;
  font-size: 12px;
}

.summary a.th {
  margin-bottom: 5px;
}

.ad .panel {
  border-radius: 5px;
  background: #65c8c6;
  height: 90px;
}

.sidebar .panel {
  height: 120px;
}

.ad .panel h3, .ad .panel h5 {
  text-align: center;
  color: #ffffff;
}


@media only screen and (max-width: 767px) {
  .custom {
    display: none;
  }
}


.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  //padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

