// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  margin-top: 20px;
}
a.logo-box{
  display: block;
  background: url(/assets/logo.jpg) no-repeat left top;
  height: 115px;
}

a.logo-box:hover {
  //background: transparent;
  background-color: #ffffff;
}

.copyright {
  //background:#3f3f3f;
  //color:#fff;
  //padding: 11px 0;
  padding-top: 10px;
}

.custom > li a {
  color: #2BA6CB;
}

.custom > li:last-child {
  border: none;
}

.nav-bar{
  height: 40px;
  background: #fff;
  border: none;
}

.nav-bar li{
  height: 40px;
  border: none;
}

li.top {
  border-right: 1px dashed gray;
}

.nav-bar > li > a:first-child {
  padding: 0 5px;
  width: 120px;
  line-height: 20px;
  text-align: center;
}

.nav-bar > li.has-flyout > a:first-child::after {
  content: normal;
}

.nav-bar > li.has-flyout > a:first-child {
  padding-right: 15px;
}

.nav-bar > li.has-flyout > a:first-child::after {
  right: 5px;
}


.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  //padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

