// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.leads {

    .side-copy h4 {
      color: #46166b;
    }

    .side-copy .subheading {
      color: #9E1F63;
      text-transform: uppercase;
    }

   .main_form{
     //background-color: red;
     margin: 0 auto;
     h3, h4{ color: #46166b;
       text-transform: capitalize;
     }

     textarea {
       height: 7.313em;
     }

     label {
       color: #AAAAAA;
       text-align: left;
     }
   }
  .social {
    //background-color: red;
  }

  .field {
      //background-color: red;
      //width: 600px;
      text-align: center;

     .label{background-color: red;}

  }

  label.error {
    display: none !important;
  }

  select.error {
    border-color: #ff0000;
    color: #ff0000;
  }

  .captcha {
    p.eL-explanation {
      font-size: 14px;
      margin-bottom: 0px;
    }

    .eL-captcha {
      border-top: 1px solid #dedede;
      border-bottom: 1px solid #dedede;
      width: 100% !important;
    }

    div.eL-captcha > div.eL-possibilities.type-0 {
      margin-left: 15%;
      display: block;
    }

    .notice {
      font-size: 14px;
      color: #ff0000;
      margin-bottom: 10px;
    }
  }
}

.btn-switch-slides {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #75D1D1;
  color: white;
  padding: 10px 20px 10px 20px;
}

.register-link {
  background-color: #75D1D1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 133px;
  margin: 0 0 0 -50PX;
  border: 2px solid #fff
}
.register-link a{
  text-align: center;
  color: white;
  position: relative;
  width: 100px;
  height: 100px;
  font-weight: 900;
  display: block;
  clear: both;
  padding-top: 35PX;
  font-size: 17px;
}

.rope {
  width: 1px;
  height: 120px;
  position: absolute;
  left: 50%;
  border-left: 2px solid gray;
  top: 25px;
}
.magenta-bold {
  color: #AA3C76;
  font-weight: bold;
  margin-top: 0;
}

.red-bold {
  color: red;
  font-weight: bold;
  margin-top: 0;
}

.bluish {
  color: #512582;
}

#register {
  margin-top: 1rem;
  margin-bottom: -4rem;
}

body {
  font-size: 13px;
}

.terms {
  border-bottom: 1px solid #dedede;
}

label.terms-agreement {
  color: black !important;
  margin-left: 45px;
}

.xtra-p-style.further-info {
  font-weight: bold;
  font-style: italic;
}

h4.red-text {
  color: red !important;
}

a.contact-link {
  color: #008cba !important;
  font-weight: bold;
}

span.accept-text {
  padding-left: 10px;
}

input#save-button {
  height: 42px;
  width: 124px;
  margin-top: 17px;
  padding: 10px 20px 10px 20px;
  font: bold 20px Arial;
}