// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bold {
	font-weight: bold;
}

body {
	color: #222222;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}