$lightColor: #65c8c6;
$mediumColor: #00a9c0;
$darkColor: #46166b;

.detail .tabs dd.active a,
.detail .tabs dd a,
.detail .tabs li a,
.detail .tabs li.active a {
  color: #ffffff;

}

.detail .tabs dd a,
.detail .tabs dd.active a {
  border-radius: 5px 5px 0px 0px;
}

.detail .tabs {
  border: 0px;
}

.detail .tabs dd.active a, .tabs li.active a {
  border-left: 1px solid $lightColor;
  border-right: 1px solid $lightColor;
  border-top: 1px solid $lightColor;

  display: block;
}

.detail .tabs dd,
.detail .tabs li {
  margin-right: 15px;
}

.detail .tabs dd.active a {
  background-color: $lightColor;
}

.detail .tabs dd a {
  background-color: $darkColor;
}

.detail .tabs li.active {
  border: 0px;
}

.detail ul.tabs-content.contained li.active {
  border-left: 1px solid $lightColor;
  border-bottom: 1px solid $lightColor;
  border-right: 1px solid $lightColor;
  border-top: 5px solid $lightColor;
  border-radius: 0px 5px 5px 5px;
}

.detail .tabs dd.active,
.detail .tabs li.active {
  margin-top: 0px;
  border: none;
}

.login {
  text-align: center;
}

#loginLink {
  background: url(/assets/sign-in-with-facebook.png) no-repeat;
  display: block;
  height: 47px;
  width: 223px;
}

.review h5 {
  margin-top: 8px;
  text-align: right;
}

.review .social li {
  margin-left: 5px;
  margin-top: -5px;
}

.review .social ul {
  margin-left: 10px;
}

.your-rating {
  background-color: $mediumColor;
}

.your-rating.row {
  margin: 0 -20px;
}

.your-rating h5 {
  text-align: left;
  color: #ffffff;
  margin-left: 17px;
}

.your-rating textarea {
  margin-left: 17px;
  //margin-right: 17px;
}

.your-rating.label {
  margin-left: 10px;
}

.your-rating .button {
  background-color: $lightColor;
}

.divider.row {
  border-bottom: 2px solid $lightColor;
  margin-bottom: 10px;
}

/*.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}*/

.map_container img{max-width: none;}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}