.large-12.columns.top-nav
  .section-container.horizontal-nav{"data-section" => "horizontal-nav", "data-options" => "one_up: false;"}
    - @categories.each_with_index do |category, i|
      %section
        %p.title{"data-section-title" => ""}
          %a{:href => "#"}
            = category[:stage].name
        - if !category[:categories].empty?
          .content{"data-section-content" => ""}
            %ul.side-nav
              - category[:categories].each do |cat|
                %li
                  %a{:href => '#'}
                    = cat.name
    %section
      %p.title{"data-section-title" => ""}
        %a{:href => "#"}
          The TotoMama Marketplace
    %section
      %p.title{"data-section-title" => ""}
        %a{:href => "#"}
          Events and Activities
    %section
      %p.title{"data-section-title" => ""}
        %a{:href => "#"}
          Getting the right help